.project {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	visibility: hidden;
}

.project:nth-child(even) {
	flex-direction: column;
	animation: slide-in-left 0.6s ease-in 1 forwards;
}

.animate {
	animation: slide-in-right 0.6s ease-in 1 forwards;
	visibility: visible;
}

.img_wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.project__img {
	object-fit: contain;
	width: 25rem;
	max-width: 100%;
	height: auto;
	box-shadow: 2px 2px 8px rgb(101, 67, 4);
	border-radius: 0.5em;
}

@media screen and (width > 870px) {
	.project {
		flex-direction: row;
	}

	.project:nth-child(even) {
		flex-direction: row-reverse;
	}

	.img_wrapper {
		width: 40%;
	}
}

@keyframes slide-in-right {
	0% {
		transform: translateX(-20%);
		opacity: 0;
	}

	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes slide-in-left {
	0% {
		transform: translateX(20%);
		opacity: 0;
	}

	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

.description {
	flex: 1;
	padding: 0 0 1rem 1rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.description__title {
	font-size: 1.5em;
	color: orange;
}

.bottom {
	margin-top: auto;
}

.technologies {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	margin-bottom: 1rem;
}

.tech {
	padding: 0.25em 0.5em;
	border-radius: 0.2em;
	font-size: 0.8em;
	background-color: rgb(221, 144, 2);
}

.links {
	display: flex;
	gap: 1rem;
}

.link {
	padding: 0.2em 0.5em;
	border: 3px solid orange;
	background-color: transparent;
	color: whitesmoke;
	border-radius: 0.3em;
	transition: transform 0.3s;
	cursor: pointer;
}

.link:hover {
	transform: translateY(-10%);
	box-shadow: 0 2px 5px rgba(255, 166, 0, 0.304);
}
