.contact {
	height: calc(100vh - 5rem);
	scroll-margin-top: 5rem;
	margin: 0 auto;
	padding: 0 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.header {
	font-size: 5em;
	color: orange;
	margin-bottom: 2rem;
}

.contact_details {
	line-height: 5;
}

.email {
	color: orange;
}

.socials {
	display: flex;
	align-items: center;
	gap: 2rem;
}

@media screen and (width > 870px) {
	.contact {
		padding: 0 3rem;
	}
}
